<!doctype html>
<title>{% block title %}{% endblock %} - YAM</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% block css%}{% endblock %}
<nav>
  <h1><a href="{% url 'lunchmenu:index' %}">YAM</a></h1>
  <ul>
    {% if user.is_authenticated %}
      <li><a href="{% url 'accounts:profile' %}">{{ user.username }}</a>
      <li><a href="{% url 'accounts:logout' %}">Log Out</a>
      <li><a href="{% url 'accounts:unregister' %}">Unregister</a>

    {% else %}
      <li><a href="{% url 'accounts:register' %}">Register</a>
      <li><a href="{% url 'accounts:login'%}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    <meta charset="utf-8"/>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>