{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}{{ user.username }}'s Profile{% endblock %}</h1>
{% endblock %}
{% block content %}

{% if not user.profile %}
You didn't edit your profile yet.
{% else %}
<ul>
  <li>home: {{user.profile.home}}</li>
  <br>
  <li>office: {{user.profile.office}}</li>
  <br>
  <li>allergies: {{user.profile.allergy}}</li>
</ul>
{% endif %}
<br>
<ul class='menu'>
  <li><a href="{%url 'accounts:editprofile'%}">Edit profile</a></li>          
  <li><a href="{%url 'lunchmenu:index'%}">Main page</a></li>
</ul>
{% endblock %}